* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2k6PZrkZTItUTZY44j4JvH290LdWxKsWwhJBLH7sFuw&s");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.background {
  color: #fff;
  margin: 50% 0;
  width: 500px;
  padding: 20px;
  box-sizing: border-box;
}

.background h1 {
  text-align: center;
  font-size: 40px;
  margin: 20px 0;
}

label {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

input {
  padding: 15px 10px;
  margin: 15px 0;
  border: 0;
  border-radius: 5px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

button {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 10px 15px;
  width: 100%;
  background-color: blue;
  color: white;
  border: 0;
  border-radius: 5px;
  margin: 15px 0;
}

button:hover {
  cursor: pointer;
  color: white;
  background: blue;
  transform: scale(1.1);
}

.passwordInput {
  width: 85%;
}

.toggleBtn {
  background: #3f5ec4;
  color: white;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
}

@media screen and (max-width: 750px) {
  .toggleBtn {
    padding: 5px;
    margin: 0 5px;
  }

  .background {
    width: 80%;
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  .background {
    width: 100%;
    padding: 10px;
  }
}
